@import "../auth.css";


.form-container {
    max-width: 32rem;
    padding: 12px 24px;
}

.role-selection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}

.role-selection label {
    width: 100%;
    display: flex;
    padding: 8px 20px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.role-selection input[type="radio"] {
    display: none;
}

.role-selection input[type="radio"]:checked + label {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
}
