
<div class="footer">
    <div class="grid-container-footer">
    <div class="item1-footer"></div>
    <div class="item2-footer">
        <table class="no-border-table-footer">
            <tr>
                <td><h5>help center</h5></td>
                <td><h5>newsroom</h5></td>
                <td><h5>new features</h5></td>
                <td><h5>careers</h5></td>
                <td><h5>investors</h5></td>
                <td><h5>gift cards</h5></td>
                <td><h5>privacy</h5></td>
            </tr>
        </table>
    </div>
    <div class="item3-footer"><img src="/images/socialmedia.png" style="width: 90px; height: auto; object-fit: contain;" alt="Social Media"></div>
        </div>
    </div>