<div class="header">
    <div class="grid-container-header">
        <div class="item1-header"><img id="logo" src="/images/logo.png" alt="ReisParadijsLogo"></div>
        <div class="item2-header">Accommodaties</div>
        <div class="item3-header"><span class="text2">TravelGuide</span><span class="rsup">a.i.</span></div>  
        <div class="item4-header"><img src="/images/ReservationCart2.png" style="width: auto; height: 50px; object-fit: contain;" alt="reservation_cart_icon"></div>
        <div class="item5-header"><img src="/images/Login2.png" style="width: auto; height: 50px; object-fit: contain;" alt="login_icon"></div>
      </div>        
</div>

